<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BOOK VALUE</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/eachcom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontnew.css') }}">

</head>
<body>

<div class="container">
  <h1><u>BOOK VALUE</u></h1> <!-- Heading in the middle -->
  <h2>"Book Value" is like looking at the price tag on a toy compared to how much it's worth now after some time. Imagine you have a toy that you bought for Rs. 100, but now it's a bit older and used. The book value is like figuring out how much the toy is worth now, considering its age and condition.Similarly, in the stock market, book value tells us how much a company's assets are worth according to its balance sheet. It's like checking the worth of all the toys a company owns, minus any debts or liabilities it might have. So, if a company's book value is Rs. 500 crore, it means that's how much the company's assets are worth according to its financial records. Investors use the book value to understand the true value of a company's assets compared to its market price.
</h2>
</div>

</body>
</html>
