<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Current Market Price</title>


<link rel="stylesheet" href="{{ url_for('static', filename='css/eachcom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontnew.css') }}">

</head>
<body>

<div class="container">
  <h1><u>Current Market Price</u></h1> <!-- Heading in the middle -->
  <h2>"Current Market Price (CMP)" refers to the price at which a particular stock is currently being traded in the market. Imagine you have a favorite snack that everyone wants to buy. The price at which you can sell your snack right now is the current market price. It's like checking the price tag on something you want to buy in a store. Similarly, in the stock market, investors look at the current market price to see how much they can buy or sell a stock for at that moment.
</h2>
</div>

</body>
</html>
