<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DEBT EQUITY RATIO</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/eachcom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontnew.css') }}">
</head>
<body>

<div class="container">
  <h1><u>DEBT EQUITY RATIO</u></h1> <!-- Heading in the middle -->
  <h2>"Debt Equity Ratio" is a financial metric that indicates the proportion of a company's financing that comes from debt compared to equity. Debt:
Debt refers to the money a company borrows from external sources, such as banks, financial institutions, or bondholders. This can include loans, bonds, or other forms of debt financing that the company has taken on to fund its operations or investments.
Equity:
Equity represents the funds contributed by the company's owners or shareholders. It includes the initial capital invested by shareholders, as well as any additional funds raised through the issuance of shares. 
Now, the Debt Equity Ratio is like comparing the amount of debt the company has to the amount of equity it has. It's calculated by dividing the total debt by the total equity.
Formula -> Debt Equity Ratio = Total Equity / Total Debt​
For example, if a company has Rs. 500,000 in total debt and Rs. 1,000,000 in total equity, the debt equity ratio would be 0.5 (Rs. 500,000 / Rs. 1,000,000). This means that for every rupee of equity, the company has 50 paise of debt.
The Debt Equity Ratio helps investors and analysts assess the company's financial risk and leverage. A higher ratio indicates that the company relies more on debt financing, which can increase financial risk, especially during economic downturns or periods of high interest rates. Conversely, a lower ratio suggests a lower level of financial risk and greater stability.
</h2>
</div>

</body>
</html>

