<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DIVIDEND YIELD (%)</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/eachcom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontnew.css') }}">
</head>
<body>

<div class="container">
  <h1><u>DIVIDEND YIELD</u> (%) </h1> <!-- Heading in the middle -->
  <h2>"Dividend Yield (%)" is like getting a bonus or reward for owning a particular stock.Imagine you have a piggy bank where you save your pocket money. Every month, your parents give you some extra money as a reward for saving. The Dividend Yield is like the percentage of extra money you receive compared to the total amount you've saved in your piggy bank.Similarly, in the stock market, when you own shares of a company, sometimes the company pays a portion of its profits to shareholders as dividends. The Dividend Yield (%) tells you how much of a percentage return you're getting on your investment through dividends.For example, if a company's stock price is Rs. 100 per share and it pays an annual dividend of Rs. 5 per share, the Dividend Yield would be 5%. This means for every Rs. 100 you invest in the stock, you receive Rs. 5 as dividends every year.
</h2>
</div>

</body>
</html>
