<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Face Value</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/eachcom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontnew.css') }}">

</head>
<body>

<div class="container">
  <h1><u>FACE VALUE</u></h1> <!-- Heading in the middle -->
  <h2>Face Value" is like the original price tag on a toy. Imagine you have a toy that you bought for Rs. 100. That Rs. 100 is the face value of the toy. Similarly, in the stock market, face value is the initial value of a stock when it was first issued. It's like the starting price of the stock. However, the current market price (CMP) can be higher or lower than the face value, depending on how much people are willing to pay for the stock now.
</h2>
</div>

</body>
</html>
