<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Listed Companies</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/boxlist.css') }}">

</head>
<body link="#98FB98" alink="#98FB98" vlink="#98FB98">
  <div class="container">
    <h1><u>Listed Companies</u></h1>
    <div class="data-boxes-container"> 
        <div class="data-box">
          <a href="/evaluate?company=Adani Enterprise">Adani Enterprise</a>
        </div>
        <div class="data-box">
          <a href="/evaluate?company=Rana Sugars">Rana Sugars</a>
        </div>
        <div class="data-box">
          <a href="/evaluate?company=Adani Green">Adani Green</a>
        </div>
        <div class="data-box">
          <a href="/evaluate?company=Alok Industries">Alok Industries</a>
        </div>
        <div class="data-box">
          <a href="/evaluate?company=Paytm">Paytm</a>
        </div>
        <div class="data-box">
          <a href="/evaluate?company=Infosys">Infosys</a>
        </div>
        <div class="data-box">
          <a href="/evaluate?company=HFCL">HFCL</a>
        </div>
        <div class="data-box">
          <a href="/evaluate?company=Reliance Industries">Reliance Industries</a>
        </div>
        <div class="data-box">
          <a href="/evaluate?company=Rajesh Exports">Rajesh Exports</a>
        </div>
      </div>
        
  </div>
</body>
</html>
