<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MARKET CAP</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/eachcom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontnew.css') }}">

</head>
<body>

<div class="container">
  <h1><u>MARKET CAP</u></h1> <!-- Heading in the middle -->
  <h2>Market Cap" stands for Market Capitalization. Market Cap is calculated by multiplying the current market price (CMP) of a stock by the total number of shares that the company has issued. It tells us the total value of the company in the stock market.For example, if a company's CMP is Rs. 100, and it has 1,000 shares in total, then the Market Cap would be Rs. 100 * 1,000 = Rs. 1,00,000. This means the company is valued at Rs. 1,00,000 in the stock market. So, Market Cap helps investors understand the size of a company in the stock market.
</h2></div>

</body>
</html>
