<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NET PROFIT PER SHARE</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/eachcom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontnew.css') }}">
</head>
<body>

<div class="container">
  <h1><u>NET PROFIT PER SHARE</u></h1> <!-- Heading in the middle -->
  <h2>Net Profit per Share: Net profit per share is calculated by dividing the net profit by the total number of outstanding shares of the company's stock. This metric gives investors an idea of how much profit is attributable to each share of the company's stock. It helps investors assess the company's profitability on a per-share basis and compare it with other companies in the same industry or sector.<br><br>


Net profit per share is an important metric for investors because it provides insights into the earnings potential and value of each share of the company's stock. Higher net profit per share indicates stronger profitability and can be a positive sign for investors considering investing in the company's stock.

</h2>
</div>

</body>
</html>

