<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PRICE TO BOOK VALUE</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/eachcom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontnew.css') }}">
</head>
<body>

<div class="container">
  <h1><u>PRICE TO BOOK VALUE</u></h1> <!-- Heading in the middle -->
  <h2>"Price to Book Value" (P/B ratio) is like comparing the price tag on a toy to its book value. Let's imagine you have a toy that you bought for Rs. 100, but its current book value is only Rs. 50 because it's old and used. The Price to Book Value ratio helps you see if the toy is priced higher or lower compared to its actual worth.Similarly, in the stock market, the P/B ratio compares the current market price (CMP) of a company's stock to its book value per share. If the P/B ratio is less than 1, it means the stock might be undervalued, like buying a toy for less than its original price. If the P/B ratio is more than 1, it could mean the stock is overvalued, like paying more for a toy than its worth.Investors use the P/B ratio to understand if a stock is priced fairly compared to its actual value, just like you would compare the price of a toy to how much it's really worth.
</h2>
</div>

</body>
</html>
