<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>RESERVE & SURPLUS (%)</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/eachcom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontnew.css') }}">
</head>
<body>

<div class="container">
  <h1><u>RESERVE & SURPLUS</u></h1> <!-- Heading in the middle -->
  <h2>"Reserve & Surplus" is like the extra money a company has saved up over time from its profits. Imagine you have a piggy bank where you save your pocket money every month. Sometimes, you might receive some extra money as a gift for your birthday or for doing well in school. You decide to keep this extra money separate from your regular savings. The total amount of extra money you've saved up is like your reserve & surplus. Similarly, in the stock market, when a company earns profits over time, it can decide to keep some of that money aside for future use rather than distributing it all to shareholders as dividends. This accumulated amount of retained earnings, along with other reserves, forms the company's reserve & surplus. Reserve & surplus can be used by the company for various purposes, such as investing in research and development, expanding operations, paying off debts, or distributing dividends in the future.
</h2>
</div>

</body>
</html>

