<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TOTAL DEBT</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/eachcom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontnew.css') }}">
</head>
<body>

<div class="container">
  <h1><u>TOTAL DEBT</u></h1> <!-- Heading in the middle -->
  <h2>"Total Debt" refers to all the money a company owes to others. When we talk about a company's total debt, we're referring to all the money the company has borrowed from banks, financial institutions, or bondholders. This can include loans, bonds, or other forms of debt the company has taken on to finance its operations, invest in new projects, or expand its business. Knowing a company's total debt is important for investors because it helps them understand the company's financial health and its ability to manage its obligations. High levels of debt can sometimes indicate that a company is taking on too much financial risk, while low levels of debt may suggest a healthier financial position.
</h2>
</div>

</body>
</html>

