<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TOTAL REVENUE</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/eachcom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontnew.css') }}">
</head>
<body>

<div class="container">
  <h1><u>TOTAL REVENUE</u></h1> <!-- Heading in the middle -->
  <h2>"Total Revenue" is like the total amount of money a company earns from selling its products or services. When we talk about a company's total revenue, we're referring to all the money the company earns from selling its products or services during a specific period, such as a year or a quarter. This includes revenue from selling goods, providing services, or any other sources of income the company may have. Total revenue is a key metric for investors because it helps them understand how well a company is performing in terms of generating sales and growing its business. Higher total revenue generally indicates that a company's products or services are in demand and that its business operations are healthy.
</h2>
</div>

</body>
</html>

