<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>52 WEEK H/L</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/eachcom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontnew.css') }}">
</head>
<body>

<div class="container">
  <h1><u>52 WEEK H/L</u></h1> <!-- Heading in the middle -->
  <h2>"52 Week High/Low" refers to the highest and lowest prices at which a stock has traded over the past 52 weeks (approximately one year). 
52 Week High: The 52 Week High is the highest price at which a stock has traded during the past 52 weeks. It represents the peak value the stock has reached over that period.
52 Week Low: The 52 Week Low is the lowest price at which a stock has traded during the past 52 weeks. It represents the lowest value the stock has reached over that period.
The 52 Week High/Low provides investors with insights into the trading range of a stock over the past year. It helps investors assess whether the current price of the stock is closer to its highest point or its lowest point over the past year. This information can be useful for making investment decisions, such as identifying potential buying or selling opportunities based on historical price movements.



</h2>
</div>

</body>
</html>

